head {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0;
}

img {
	float: left;
	padding-right: 20px;
	padding-left: 30px;
}

p {
	margin: 0;
	margin-left: 30px;
	padding-bottom: 10px;
	color: #777777;
	margin-right: 30px;
}

h2 {
	margin: 0;
}

.Header {
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: fixed;
	top: 0;
	width: 100%;
	height: 10%;
	background-color: white;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
}

.Name {
	position: absolute;
	height: 100%;
	background-color: #4aaaa5;
	width: 270px;
	color: white;
	left: 135px;
	text-align: center;
	top: 0%;
}

#Header_Name {
	position: absolute;
	left: 22px;
	top: 7px;

}

.Nav {
	position:fixed;
	top: 35px;
	right: 200px;
	float: left;
	color: #4aaaa5;
}

#portfolio {
	text-decoration: none;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding-left: 8px;
	padding-right: 8px;
	color: grey;

}

.about_contact {
	text-decoration: none;
	border-width: 50px;
	color: grey;
}

.about_me {
	position: relative;
	width: 650px;
	background-color: #ffffff;
	top: 75px;
	left: 135px;
	margin-top: 25px;
}

#About_Header {	
	color: #4aaaa5;
	border-bottom: 1px solid #ccc;
	margin-left: 30px;
	padding-bottom: 24px;
	padding-top: 25px;
	padding-right: 20px;
}

#profile_picture {
}